<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.locuslabs.testapp" >

    <!--
        See also com/locuslabs/android/VenueListActivityvity.java for programmatic request for these permissions
    -->

    <!-- needed for downloading map data -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- needed for error handling in case network unavailable (e.g. loading POI photos) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- needed for positioning -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- needed for beacon-based background positioning -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@mipmap/locuslabs_app_icon"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="ThemeSupport" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VenueListActivity"
            android:label="Terminal List" >
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="Map View"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <service android:name="com.locuslabs.sdk.ibeacon.BeaconService" />
        <service android:name="com.locuslabs.sdk.ibeacon.service.IBeaconService" />
        <service android:name="com.locuslabs.sdk.ibeacon.IBeaconIntentProcessor" />
    </application>

</manifest>
